@import "/src/styles/scaffold.scss";

.fes-event-card {
  align-items: center;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  position: relative;
  width: 85%;
  max-width: 350px;

  img {
    filter: brightness(60%);
  }

  [data-fes-event-card-info] {
    color: var(--fes-color-white);
    bottom: 0;
    left: 0;
    margin: .5rem;
    position: absolute;

    h2 {
      margin-top: 0;

      @include truncate-title(1);
    }
  }
}