@import "/src/styles/scaffold.scss";

.fes-event-card {
  align-items: center;
  border-radius: 25px;
  background-color: var(--fes-color-black);
  cursor: grab;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  min-width: 85%;
  height: 50vh;

  img {
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  [data-fes-event-card-info] {
    color: var(--fes-color-white);
    bottom: 0;
    left: 0;
    margin: .5rem;
    position: absolute;

    h2 {
      margin-top: 0;

      @include truncate-title(1);
    }
  }
}