.fes-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5px;

    li {
      padding: 0 10px;
    }
  }

  [data-fes-header-search-input] {
    background-color: var(--fes-color-gray-20);
    border-radius: var(--fes-border-radius-pill);
    display: flex;
    align-items: center;

    input, button {
      background-color: transparent;
      border: none;
    }

    input {
      margin-left: 10px;
      padding: 10px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--fes-color-gray-10);
      }
    }

    button {
      color: var(--fes-color-gray-10);
      padding: 10px;

      &:hover {
        color: var(--fes-color-red);
        transition: all 0.3s ease;
      }
    }
  }
}