.fes-button {
  border: none;
  border-radius: 25px;
  padding: 1rem;


  &[data-fes-button-variant="primary"] {
    background-color: var(--fes-color-purple);
  }

  &[data-fes-button-block="true"] {
    width: 100%;
  }
}