.fes-link {
  &[data-fes-link-variant="default"] {
    color: var(--fes-color-red);
    text-decoration: none;
  }

  &[data-fes-link-variant="underlined"] {
    color: var(--fes-color-red);
    text-decoration: underline;
  }
}