@import "/src/styles/scaffold.scss";

.fes-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;

  @include media("<tablet") {
   justify-content: center;

  }

  nav {
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: flex-start;
      list-style: none;
      padding: 0;
      gap: 5px;

      li {
        padding: 0 10px;
      }

      @include media("<tablet") {
        justify-content: center;
      }
    }

    @include media("<tablet") {
      background-color: var(--fes-color-gray-20);
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  }

  [data-fes-navbar-link] {
    color: var(--fes-color-gray-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    &[data-fes-navbar-link-active="true"] {
      color: var(--fes-color-red);

      @include media("<tablet") {
        // box-shadow: var(--fes-color-red) 0px 0px 20px 9px;
      }

      &::after {
        content: "";
        background-color: var(--fes-color-red);
        height: 1px;
        width: 95%;
      }
    }

    [data-fes-text] {
      display: flex;
      align-items: center;
      gap: 5px;

      @include media("<tablet") {
        display: none;
      }
    }
  }

  [data-fes-navbar-search-input] {
    background-color: var(--fes-color-gray-20);
    border-radius: var(--fes-border-radius-pill);
    display: flex;
    align-items: center;

    input,
    button {
      background-color: transparent;
      border: none;
    }

    input {
      margin-left: 10px;
      padding: 10px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: var(--fes-color-gray-10);
      }
    }

    button {
      color: var(--fes-color-gray-10);
      padding: 10px;

      &:hover {
        color: var(--fes-color-red);
        transition: all 0.3s ease;
      }
    }
  }
}